@import "tailwindcss";

@theme {
    --color-primary: #E91E8C;
    --color-primary-dark: #C2185B;
    --color-secondary: #0A0A0A;
}

body {
    background-color: #f7f5f6;
    color: #1a1a1a;
    font-family: "DM Sans", sans-serif;
}

.font-display {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}
